.dinopack-header-logo {
	display: inline-block;
}
.dinopack-header-logo__link {
	display: inline-block;
	line-height: 0;
}
.dinopack-header-logo__img {
	display: block;
	height: auto;
	vertical-align: middle;
}
